<template>    
    <lightning-card title="Hello World">
        Hello, {firstName}!

        <!--Conditional if Example-->
        <div class="slds-m-around_medium">
            <lightning-input type="checkbox" label="Show details" onchange={handleChange}></lightning-input>
            <template if:true={areDetailsVisible}>
                <div class="slds-m-vertical_medium">
                    These are the details!
                </div>
            </template>
        </div>        
    </lightning-card>

    <!--for each example -->
    <lightning-card title="HelloForEach" icon-name="custom:custom14" if:true={areDetailsVisible}>
        <ul class="slds-m-around_medium">
            <template for:each={contacts} for:item="contact">
                <li key={contact.Id}>
                    {contact.Name}, {contact.Title}
                </li>
            </template>
        </ul>
    </lightning-card>

    <!--iterator example -->
    <lightning-card title="HelloIterator" icon-name="custom:custom14" if:true={areDetailsVisible}>
        <ul class="slds-m-around_medium">
            <template iterator:it={contacts}>
                <li key={it.value.Id}>
                    <div if:true={it.first} class="list-first"></div>
                    {it.value.Name}, {it.value.Title}
                    <div if:true={it.last} class="list-last"></div>
                </li>
            </template>
        </ul>
    </lightning-card>

</template>