 <template>
    <lightning-input label="Name" value={greeting} onchange={handleChange}></lightning-input>
    <c-learn-L-W-C first-name={greeting}></c-learn-L-W-C>    
    <p class="slds-m-top_medium">Uppercased Full Name: {uppercasedFullName}</p>
</template>