<template>
    <div style="height: 450px;">
        <lightning-datatable
                key-field="id"
                data={data}
                columns={columns}
                onrowselection={getSelectedName}
                enable-infinite-loading
                onloadmore={loadMoreData}
                onrowaction={handleRowAction}
                is-loading={tableLoadingState}
                onsave={handleSave}
                draft-values={draftValues}
                onsort={updateColumnSorting}
                >
        </lightning-datatable>
        {loadMoreStatus}
    </div>    
    
</template>